body{

	background-color:white;
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Amatic SC', cursive;
	font-family: 'Roboto Mono', monospace;;
}

figure{
	
	text-align: center;
}


img{
	height: 15%;
	width: 15%;
	margin-left: auto;
	margin-right: auto;
}
.imagens{

	
	width: 100%;
}

h1{
	text-align: center;
	font-size: 40px;

}

h2{
	font-size: 25px;
	background: #B7F4BE; 
}
 h4{
 	font-size: 20px;
 	S
 }
p{
	text-align: justify;
	font-size: 18px;
	text-indent: 18px;
	font-weight: normal;
}

